.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  cursor: pointer;
  animation: fadeInOut 3s ease-in-out;
  z-index: 9999;
  color: white;
}

.success {
  background-color: #006f04;
}

.error {
  background-color: #7e0800;
}

.info {
  background-color: #004680;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
