.authPage {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #7a7a7a);
  color: #ffffff;
  overflow: hidden;
}

.authImage {
  flex: 1;
  background: url("/public/banner.jpg") center/cover no-repeat;
  display: none;
}

.authForm {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 16px;
  background: linear-gradient(to right, #2c0735, #3e0656, #4e076d);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffcc00;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #c9b6df;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333333;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #ffcc00;
  outline: none;
}

.submitButton {
  padding: 10px 20px;
  font-size: 14px;
  color: #3e0656;
  background: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: fit-content;
  margin: 8px auto;
}

.submitButton:hover {
  background-color: #d4aa00;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(255, 204, 0, 0.5);
}

.toLogin {
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}

.link {
  color: #ffcc00;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  flex: 1;
  padding-right: 60px;
}

.togglePassword {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #3e0656;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.togglePassword:hover {
  color: #ffcc00;
}

@media screen and (min-width: 768px) {
  .authImage {
    display: block;
  }
}
